/* ===== FONTS ===== */
@font-face {
  font-family: "sf_ui_displayregular";
  src: url("../fonts/sf-ui-display-regular-webfont.woff") format("woff2"),
    url("../fonts/sf-ui-display-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "sf_ui_displayregular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  letter-spacing: -0.5px;
}

:root {
  /* ===== COLOR ===== */
  --body-color: #fff;
  --body-background: #101010;
  --primary-color: #23c3b2;
  --primary-color-light: #1b988b;
  --primary-color-active: #136c63;

  /* ===== TRANSITION ===== */
  --tran-04: all 0.4s ease;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--body-background);
}

.left {
  text-align: left;
  margin-bottom: 2.5rem;
}

h1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 0.625rem;
  line-height: 2.25rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.938rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  line-height: 20px;
  margin: 0;
  letter-spacing: 0.5px;
}

.text-opacity p {
  opacity: 0.8;
}

.subscription h2 {
  font-size: 2.188rem;
  line-height: 2.688rem;
  margin-bottom: 0.625rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription-box {
  position: absolute;
  left: 50px;
  top: 36px;
}

.subscription-box span {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.313rem;
}

.subscription .container p {
  max-width: 259px;
}

.subscription-wrap p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 1rem;
}

.section.section-movie::before {
  z-index: 2;
}

.section-movie > div,
.partners > div {
  vertical-align: bottom;
}

.partners .left {
  margin-bottom: 0.563rem;
}

.connection .left {
  margin-bottom: 1.875rem;
}

.subscription-connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription-connect li {
  width: 48%;
  padding-right: 0.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 110%;
}

.subscription-connect span {
  font-weight: normal;
  font-size: 0.938rem;
  display: inline-block;
  line-height: 100%;
}

.subscription-connect .btn {
}
