h1,
h2 {
  font-weight: 700;
  margin-bottom: 0.625rem;
}

h1.subscription__header--main {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
}

.subscription__header {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.subscription__header-big {
  font-size: 2.188rem;
  line-height: 2.688rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription__box {
  position: absolute;
  left: 50px;
  top: 36px;
  text-align: left;
}

.subscription__box span {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.313rem;
}

.subscription__text {
  max-width: 259px;
}

.subscription__wrap p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 1rem;
}

.subscription__connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscription__connect li {
  width: 48%;
  padding-right: 0.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 110%;
}

.subscription__connect span {
  font-weight: normal;
  font-size: 0.938rem;
  display: inline-block;
  line-height: 100%;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  max-width: 200px;
  padding: 21px 57px;
  font-weight: 600;
  font-size: 0.688rem;
  color: var(--body-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: var(--tran-04);
  margin-bottom: 0.625rem;
}

.btn:hover {
  background-color: var(--primary-color-light);
}

.btn:active {
  background-color: var(--primary-color-active);
}

.btn--big {
  font-size: 0.813rem;
}

.btn--link {
  display: inline-block;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  color: #e5e5e5;
  transition: var(--tran-04);
}

.btn--link:hover {
  text-decoration: underline;
}
